@{
    ViewBag.Title = "Deactivate Tokens ";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
@*Where the form information will go*@
<p>
    @*Dropdown of the codes we've coded in models- what type of file to put these on?
        Depending on the Code chosen the Token Type, Content, and value will update... 
       - How to set different fields to update depending on the item selected
        - How to display only 1 attribute from database & make that a selectable item that will then
        cause the rest of the form to be filled out... 
    *@

   @*Database:
       Code-Type-Content -Value - Account To Deactivate From
   *@

    @*reason Drop down*@
    @*Comments field*@
    @*Prev & Next buttons --> previous disabled & Next enabled when ALL required fields are entered...*@

</p>