@model RebornCheckerBoardMain.Models.TokenCategory

@{
    ViewBag.Title = "IssueTokens";
}

<h2>IssueTokens</h2>

<p>
    @Html.ActionLink("Create New", "Create")

    @*Token Type Selection here :): Display the page as "Issue Token" & the*@
    @using (Html.BeginForm())
    {
    <p>
        @Html.DropDownList("SearchType", "All") <br />
        @Html.DropDownList("searchContent", "All")<br />
        <input type="submit" value="Submit" />
    </p> 
    }

    </p>