@{
    ViewBag.Title = "Issue Tokens";
}
@*Include the Token Category Model*@

<h2>@ViewBag.Title.</h2>
<h3></h3>

@*Content of the Form Page*@
<p>
        @*Select Token Type from the database (only display the type!)*@
        
        @*Select the Token COntent from the database (only display the COntent associated with that type)*@
        
        @*Previous button stays disabled*@

        @*Need to connect "Next >" to verification page & disable it until ALL required fields are entered*@
      
</p>
